<table class="table">
  <thead>
    <th>Access</th>
    <th>Permission</th>
  </thead>
  <tbody>
    <% (site_roles || []).each do |role| %>
      <tr class="field">
        <td>
          <%= role.name.humanize %>
        </td>
        <td>
          <label>
            <%= check_box_tag("available_roles[]", role.id, (@user.permitted_roles.map(&:id).include?(role.id) rescue false), options = {}) %>
          </label>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>