<div class="table-responsive">
  <table class="table">
  	<thead>
      <tr>
        <th>Email</th>
        <th>Role</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
  	<%# @users.each do |user| %>
	  	<tr class="">
	  		<td><%#= user.email %></td>
	  		<td><%#= user.user_role %></td>
        <td><%#= link_to 'Show', user if can? :show, user%></td>
        <td><%#= link_to 'Edit', edit_user_path(user) if can? :edit, user%></td>
        <td><%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } if can? :delete, user%></td>
	  	</tr>
  	<%# end %>
  </table>
</div>